.popup__close-button {
    background-image: url(../../../images/Close-Icon.svg);
    background-size: contain;
    background-color: transparent;
    width: 20px;
    height: 20px;
    position: absolute;
    right: -2px;
    top: -36px;
    border: none;
    cursor: pointer;
    transition: opacity 0.5s linear;    
}

.popup__close-button:hover {
    opacity: 0.6;
}

@media screen and (min-width: 768px) {
    .popup__close-button {
        background-image: url(../../../images/Close-Icon_big.svg);
        width: 32px;
        height: 32px;
        right: -40px;
        top: -40px;
    }
}